<form id="new-prayer-form" role="form" action="/partner/<%= partner._id %>/prayer" method="post">
  <div class="form-group">
    <label for="prayer">New prayer:</label>
    <textarea rows="2" name="text"></textarea>
  </div>
  <input type="submit" value="Add">
</form>
